<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <mapper namespace="boardMapper">
  
  	<resultMap type="Board" id="boardResultSet">
  		<result column="board_no" property="boardNo"/>
  		<result column="board_title" property="boardTitle"/>
  		<result column="user_id" property="boardWriter"/>
  		<result column="count" property="count"/>
  		<result column="create_date" property="createDate"/>
  		<result column="board_content" property="boardContent"/>
  	</resultMap>
  	
  	<resultMap type="Reply" id="replyResultSet">
  		<result column="reply_no" property="replyNo"/>
  		<result column="user_id" property="replyWriter"/>
  		<result column="reply_content" property="replyContent"/>
  		<result column="create_date" property="createDate"/>
  	</resultMap>
  	
  	<select id="selectListCount" resultType="_int"> <!-- 별칭으로 => 공홈 참고 -->
  	select
	       count(*)
	  from board
	 where status = 'Y'
  	</select>
  	
  	<select id="selectList" resultMap="boardResultSet">
  	select
	       board_no
	     , board_title
	     , user_id
	     , count
	     , create_date
	  from board b
	  join member on (board_writer = user_no)
	 where b.status = 'Y'
	 order
	    by board_no desc
  	</select>
  	
  	<update id="increaseCount" parameterType="_int">
  	update
  		   board
  	   set count = count + 1
  	 where board_no = #{ boardNo }
  	   and status = 'Y'
  	</update>
  	
  	<select id="selectBoard" resultMap="boardResultSet" parameterType="_int">
  	select
	       board_no
	     , board_title
	     , user_id
	     , count
	     , create_date
	     , board_content
	  from board
	  join member on (board_writer = user_no)
	 where board_no = #{ board_no }
  	</select>
  	
  	<select id="selectReplyList" resultMap="replyResultSet" parameterType="_int">
  	select
	       reply_no
	     , user_id
	     , reply_content
	     , create_date
	  from reply r
	  join member on (reply_writer = user_no)
	 where ref_bno = #{ board_no }
	   and r.status = 'Y'
	 order
	    by reply_no desc
  	</select>
  	
  	<select id="selectSearchCount" resultType="_int">
  	select
	       count(*)
	  from board b
	  join member on (board_writer = user_no)
	 where b.status = 'Y'
	 <if test="condition == 'writer'">
	   and user_id 
	 </if>
	 <if test="condition == 'title'">
	   and board_title
	 </if>
	 <if test="condition == 'content'">
	   and board_content
	 </if>
	   like '%' || #{ keyword } || '%'
  	</select>
  	
  	<select id="selectSearchList" resultMap="boardResultSet">
  	select
	       board_no
	     , board_title
	     , user_id
	     , count
	     , create_date
	  from board b
	  join member on (board_writer = user_no)
	 where b.status = 'Y'
	 <choose>
	 	<when test="condition == 'writer'">
	   and user_id 
	 	</when>
	 	<when test="condition == 'title'">
	   and board_title
	 	</when>
		<otherwise>
	   and board_content
		</otherwise>
	 </choose>
	   	   like '%' || #{ keyword } || '%'
	 order
	    by board_no desc
  	</select>
	 
  </mapper>